<!-- hero.component.html -->

<div class="bg-custom-bg h-full flex flex-col justify-center py-8">
    <div class="container mx-auto flex flex-col sm:flex-row items-center justify-between px-2">
        <div class="sm:w-2/5 text-center sm:text-left mb-10 sm:mb-0">
            <h1 class="text-5xl font-bold mb-6">Manage your money like a boss</h1>
            <p class="text-gray-600 mb-8">Create beautiful invoices, accept online payments, and make accounting easy—all in one place—with Wave’s suite of money tools.</p>
            <div class="flex flex-col space-y-4 w-full max-w-md">
                <input type="email" placeholder="Enter your mail" class="border border-gray-300 p-4 rounded-lg w-full shadow-sm bg-gray-100">
                <input type="password" placeholder="Enter your password" class="border border-gray-300 p-4 rounded-lg w-full shadow-sm bg-gray-100">
                <button class="bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 text-white px-4 py-2 rounded-lg w-full shadow-lg transform hover:scale-105 transition-transform">Create your free account</button>
            </div>
            <p class="text-gray-500 text-sm mt-6">By signing up, you are indicating that you have read and agree to the <a href="#" class="underline">Terms of Use</a> and <a href="#" class="underline">Privacy Policy</a>.</p>
        </div>
        
        <div class="sm:w-3/5 mt-10 sm:mt-0 flex justify-center">
            <img src="../../../assets/8644cee49a024474a43efae1bd07c81f.png" alt="Mockup Image" class="w-full max-w-3xl">
        </div>
    </div>
</div>
