<!-- transaction-form.component.html -->

<div
  [class.hidden]="!show"
  class="fixed top-0 left-0 w-full h-full flex justify-center items-center"
>
  <div class="bg-white rounded-lg p-8 w-11/12 max-w-3xl">
    <!-- Title based on the type -->
    <h2 class="text-2xl font-bold mb-4">
      {{
        type === "deposit"
          ? "Add Income"
          : type === "journal"
          ? "Add Journal Transaction"
          : "Add Expense"
      }}
    </h2>

    <!-- Form Structure -->
    <form [formGroup]="transactionForm" (ngSubmit)="onSave()">
      <!-- Date input -->
      <label class="block mb-2">Date</label>
      <input
        type="date"
        formControlName="date"
        class="mb-4 border rounded w-full p-2"
      />

      <label class="block mb-2">Description</label>
      <input
        type="text"
        formControlName="description"
        placeholder="Write a Description"
        class="mb-4 border rounded w-full p-2"
      />

      <label class="block mb-2">{{
        type === "journal" ? "Debit Account" : "Account"
      }}</label>
      <select formControlName="account" class="mb-4 border rounded w-full p-2">
        <option
          *ngFor="let account of filteredAccounts"
          [value]="isString(account) ? account : account.account_name"
        >
          {{ isString(account) ? account : account.account_name }}
        </option>
      </select>

      <label class="block mb-2">{{
        type === "journal" ? "Credit Account" : "Category"
      }}</label>
      <select formControlName="category" class="mb-4 border rounded w-full p-2">
        <option
          *ngFor="let category of filteredCategories"
          [value]="category?.account_name"
        >
          {{ category?.account_name }}
        </option>
      </select>

      <!-- Conditional Transaction Type for Journal -->
      <div *ngIf="type === 'journal'">
        <label class="block mb-2">Transaction Type (Cash Flow)</label>
        <select
          formControlName="cash_flow_category"
          class="mb-4 border rounded w-full p-2"
        >
          <option value="Operating">Operating</option>
          <option value="Investing">Investing</option>
          <option value="Financing">Financing</option>
          <option value="None">None</option>
        </select>
      </div>

      <label class="block mb-2">Amount</label>
      <input
        type="number"
        formControlName="amount"
        placeholder="0"
        class="mb-4 border rounded w-full p-2"
      />

      <div class="mt-6 flex justify-between">
        <div *ngIf="type === 'withdrawal'" class="flex items-center mb-4">
          <input
            type="checkbox"
            formControlName="recurrence"
            id="recurrenceCheckbox"
            class="mr-2"
          />
          <label for="recurrenceCheckbox"
            >Recurring Expense (Monthly Basis)</label
          >
        </div>
        <div *ngIf="type === 'deposit'" class="flex items-center mb-4"></div>
        <div>
          <button
            class="py-2 px-4 bg-gray-300 text-black rounded mr-2"
            (click)="onClose()"
          >
            Cancel
          </button>
          <button
            class="py-2 px-4 bg-green-500 text-white rounded"
            *ngIf="type === 'deposit'"
          >
            Save
          </button>
          <button
            class="py-2 px-4 bg-red-500 text-white rounded"
            *ngIf="type === 'withdrawal'"
          >
            Save
          </button>
          <button
            class="py-2 px-4 bg-blue-500 text-white rounded"
            *ngIf="type === 'journal'"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
