<!-- sidebar.component.html -->

<div class="w-64 bg-custom-bg text-black overflow-y-auto h-full flex flex-col justify-between sticky bottom-0">

  <!-- Menu Items -->
  <ul class="space-y-4 px-4 pt-8">
    <li>
      <a routerLink="/dashboard" class="block p-2 hover:bg-blue-500">Dashboard</a>
      <a routerLink="/chart-of-accounts" class="block p-2 hover:bg-blue-500">Chart of Accounts</a>
      <a routerLink="/transactions" class="block p-2 hover:bg-blue-500">Transactions</a>
      <a routerLink="/income-statement" class="block p-2 hover:bg-blue-500">Income Statement</a>
      <a routerLink="/cash-flow-statement" class="block p-2 hover:bg-blue-500">Cash Flow Statement</a>
      <a routerLink="/balance-sheet" class="block p-2 hover:bg-blue-500">Balance Sheet</a>
    </li>
  </ul>

  <!-- Accept credit cards & bank payments section -->
  <div class="mt-10 border-t border-gray-700 pt-4 px-4">
    <h2 class="text-balck text-lg mb-2">Accept credit cards & bank payments</h2>
    <a href="#" class="text-blue-400 hover:underline">Set up now ></a>
  </div>
</div>
